/* the input box where we type */
input.dojoComboBoxInput {
	font-size: 0.8em;  /* font size in input area for FF */
	border: 0px;
	width: 98%;
	padding-left:3px; 
}

.dojoComboBoxInputInvalid {
	color: red;
}

/* the drop down area */
.dojoComboBoxOptions {
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 0.7em;
	background-color: white;
	border: 1px solid #afafaf;
	position: absolute;
	z-index: 1000; 
	overflow: auto;
	-moz-opacity: 0;
	cursor: default;
}

table.dojoComboBox {
	border: 1px solid #afafaf;
	font-size: 0.8em;  /* font size in input area for IE */
}

.dojoComboBoxItem {
	padding-left: 0px;
	padding-top: 0px;
	margin: 0px;
}

.dojoComboBoxItemEven {
	background-color: #f4f4f4;
}

.dojoComboBoxItemOdd {
	background-color: white;
}

.dojoComboBoxItemHighlight {
	background-color: #63709A;
	color: white;
}

/* The div holding the arrow background image */
.dojoComboBoxArrow {
	display:block;
	width:17px;                  /* 2px bigger than image */
	height:17px;                 /* 2px bigger than image */
	background:url(arrow.gif);   /* arrow image, 15x15px */
	background-repeat:no-repeat;
	background-position:center;  /* centers image in div, creating 1px white border effect */
}
